body{
	background: #15171c;
}
.borda{
	border: 1px solid red;
}
a.nav-link{
	color: white;
	text-transform: uppercase;
	font-weight: 200;
}
a.nav-link:hover{
	color: #343f8d;
}
.input-group-text{
	background: none;
}
.form-control{
	background: none;
	border-left: none;
}
#anuncio{
	background: #ec963d;
	color: #533e27;
	text-align: center;
	font-weight: 600;
	padding: 10px 0;
	border-radius: 2px;
}
.img-artigo{
	width: 277px;
	height: 156px;
}
footer{
	background: #20242c;
	padding: 60px 0;
}
a{
	color: #c3c3dd;
	text-decoration: none;
	margin-right: 15px;
}
.text-center span{
	font-size: 12px;
}
#ultimo-texto{
	padding-top: 30px;
	margin-top: 10px;
	border-top: 1px solid #8e8e9d;

}
#logo1{
	font-weight: 800;
	color: white;
}
#logo2{
	font-size: 0.5em;
	letter-spacing: 0.1em;
	font-weight: 100;
	color: white;
}